<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <loyalty_program>
            <general>
                <enabled>0</enabled>
                <percent_purchase>0</percent_purchase>
                <show_message_PDP>0</show_message_PDP>
            </general>
        </loyalty_program>
        <payment>
            <encomage_coin>
              <title>Loyalty Coin</title>
              <model>Talexan\Credit\Model\Payment\Coin</model>
              <active>1</active>
            </encomage_coin>
        </payment>
    </default>
</config>